<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="messageDao" class="com.mio.crm.dao.impl.MessageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="messageService" class="com.mio.crm.service.impl.MessageServiceImpl">
		<property name="messageDao" ref="messageDao"/>
	</bean>
	<bean id="messagetest" class="com.mio.crm.dao.TestDao">
		<property name="messageService" ref="messageService"/>
	</bean>
	<!--<bean id="lifeDonut" class="com.mio.crm.controller.LifeDonut" >-->
		<!--<constructor-arg ref="request"/>-->
		<!--&lt;!&ndash;<property name="messageService" ref="messageService"/>&ndash;&gt;-->
	<!--</bean>-->
</beans>