<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 4.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- sessionFactory代表一个数据库的描述  -->
	<session-factory>
		<!--<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
		<!--使用c3p0 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>



		<!--开发环境配置 -->
		<!---->
		<property name="connection.username">root</property>
	   	<property name="connection.password">mulua--1</property>
		<property name="hibernate.connection.url">
				jdbc:mysql://10.211.55.6:3306/demo?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true
		</property>

		<!-- 告诉hibernate链接的是什么数据库 -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- 
				validate  默认值
				根据持久化类和映射文件检查表的结构
				update
				hibernate容器在启动的时候，会根据持久化类和映射文件检查表的结构
				如果不存在，则创建，如果存在，则更新
				create
				每次启动hibernate容器，不管表是否存在，都会创建
				create-drop
				当启动hibernate容器时创建表，当hibernate容器销毁时，删除表
			-->
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property> 
		<property name="connection.is-connection-validation-required">true</property>
	
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="c3p0.idleConnectionTestPeriod">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>
		<property name="c3p0.automaticTestTable">con_test</property>  

		<!-- 最大连接数 --> 
		<property name="hibernate.c3p0.max_size">20</property> 
	 
		<!-- 最小连接数 --> 
		<property name="hibernate.c3p0.min_size">5</property> 
	 
		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 --> 
		<property name="hibernate.c3p0.timeout">120</property> 
	 
		<!-- 最大的PreparedStatement的数量 --> 
		<property name="hibernate.c3p0.max_statements">100</property> 
	 
		<!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒--> 
		<property name="hibernate.c3p0.idle_test_period">120</property> 
	 
		<!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 --> 
		<property name="hibernate.c3p0.acquire_increment">10</property>
	 
		<!-- 每次都验证连接是否可用 --> 
		<property name="hibernate.c3p0.validate">true</property> 

		<!-- 引入映射文件 -->
		<mapping resource="com/mio/domain/Account.hbm.xml" />

	</session-factory>
</hibernate-configuration>